<fieldset>
    <input placeholder="Suche" [(ngModel)]="suche" class="form-control"/>
    <button (click)="startSuche()" class="btn btn-success">OK</button>
</fieldset>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Title</td>
            <td>Jahr</td>
            <td>Typ</td>
            <td>Poster</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of films">
            <td>{{f.Title}}</td>
            <td>{{f.Year}}</td>
            <td>{{f.Type}}</td>
            <td><img src="{{f.Poster}}" width="150"></td>
        </tr>
    </tbody>
</table>